<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>chat</title>
    <script th:src="@{/js/chat/chat.js}" defer></script>
</head>
<body>

  <div class="container">
    <h1>사내메신저</h1>

    <div class="connect">
      <input type="text" name="userId" id="userId" placeholder="접속자명">
      <input type="button" value="connect" id="connectBtn">
    </div>

    <div class="window">
      <div class="window-con">

      </div>
    </div>

    <div class="input-chat">
      <input type="text" name="message" id="message" placeholder="메세지를 입력하세요.">
      <input type="button" value="보내기" id="sendBtn">
    </div>


  </div>


</body>
</html>