<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BUS API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script th:src="@{/js/bus/bus.js}" defer></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ea70efe392b67a8dc82148d7ac6f0e06&libraries=services,clusterer,drawing">
    </script>
    <link rel="stylesheet" href="/css/bus.css">

</head>

<body>

<div id="wrap">

    <div class="right-menu">
        <div class="right-con">
            <div class="bus">
                <div class="bus-box">
                    <div class="bus-header">
                        <h1 class="bus-title">BUS API</h1>
                        <div class="search">
                            <input type="text" name="search" id="search" value="146">
                            <button id="busBtn" onclick="busSearch()">버스 노선 조회</button>
                        </div>
                    </div>
                    <div class="bus-table">
                        <table class="bus-table1" border="1">
                            <thead>
                            <tr>
                                <!--<th>노선ID</th>-->
                                <th width="100px;">노선명</th>
                                <th width="100px;">노선유형</th>
                                <th>기점</th>
                                <th>종점</th>
                                <th width="200px;">금일첫차시간</th>
                                <th width="200px;">금일막차시간</th>
                                <th width="100px;">배차간격</th>
                                <th width="100px;">버스위치정보</th>
                                <th width="100px;">버스타입</th>
                            </tr>
                            </thead>
                            <tbody id="bus1">


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="bus-map">
                    <div class="left-bus">
                        <h1>BUS STATION</h1>
                        <div class="bus-station">

                        </div>
                    </div>
                    <div class="right-map">
                        <section id="mymap" style="width: 100%;">
                            <div class="wrap" id="map" style="width:100%;height:100vh;">
                            </div>
                        </section>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>

</html>