<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>회사 목록</title>
    <link rel="stylesheet" th:href="@{/css/freelancer/freeLancerList.css}">
</head>
<th:block layout:fragment="container">
<body>
<div class="container">
    <div class="container-con">
        <div class="memberList">
            <div class="memberList-con">
                <div class="memberList-header">
                    <h1>회사목록</h1>
                </div>
                <div class="search">
                    <div class="form">
                        <form th:action="@{/member/companyList}" method="get" class="search">
                            <select name="subject" id="subject">
                                <option th:value="name">회사명</option>
                                <option th:value="email">이메일</option>
                            </select>
                            <input type="text" name="search" id="search" th:value="${param.search}">
                            <button type="submit">
                                <img th:src="@{/images/worktime/zoom.png}" alt="검색" class="zoom">
                            </button>
                        </form>
                    </div>
                </div>
                    <table>
                        <thead>
                        <tr class="th1">
                            <th colspan="8">등록회사목록</th>
                        </tr>
                        <tr class="th2">
                            <th>순번</th>
                            <th>회사명</th>
                            <th>대표자명</th>
                            <th>이메일</th>
                            <th>대표자연락처</th>
                            <th>사업자번호</th>
                            <th>메뉴</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="company, iterStat:${companyList}">
                            <th:block th:if="${company.grade.toString()} == 'COMPANY'">
                                <th:block th:if="${company.is_display} == 1">
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${company.companyName}"></td>
                                    <td th:text="${company.name}"></td>
                                    <td th:text="${company.email}"></td>
                                    <td th:text="${company.phone}"></td>
                                    <td th:text="${company.businessNumber}"></td>
                                    <td><a th:href="@{/member/companyDetail/{memberId}(memberId=${company.id})}">상세보기</a></td>
                                </th:block>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>

                    <div class="page">
                        <ul>
                            <li>
                                <span th:if="${1==companyList.pageable.pageNumber+1}" class="span0">START</span>
                                <span th:unless="${1==companyList.pageable.pageNumber+1}">
                                    <a th:href="@{/member/companyList(page=0,search=${param.search} ,subject=${param.subject})}" class="span1">처음</a>
                                </span>
                            </li>

                            <li>
                                <span th:if="${1==companyList.pageable.pageNumber+1}" class="span0">Pre</span>
                                <span th:unless="${1==companyList.pageable.pageNumber+1}">
                                    <a th:href="@{/member/companyList(page=${companyList.pageable.pageNumber-1},search=${param.search} ,subject=${param.subject})}" class="span1">이전</a>
                                </span>
                            </li>
                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                <span th:if="${i == companyList.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
                                <a th:unless="${i == companyList.pageable.pageNumber+1}" th:href="@{/member/companyList(page=${i - 1},search=${param.search} ,subject=${param.subject})}" th:text="${i}"></a>
                            </li>
                            <li>
                                <span th:if="${companyList.totalPages == companyList.pageable.pageNumber + 1}" class="span0">NEXT</span>
                                <span th:unless="${companyList.totalPages == companyList.pageable.pageNumber + 1}">
                                    <a th:href="@{/member/companyList(page=${companyList.pageable.pageNumber + 1},search=${param.search} ,subject=${param.subject} )}" class="span1">다음</a>
                                </span>
                            </li>
                            <li>
                                <span th:if="${companyList.totalPages == companyList.pageable.pageNumber + 1}" class="span0">END</span>
                                <span th:unless="${companyList.totalPages == companyList.pageable.pageNumber+1}">
                                    <a th:href="@{/member/companyList(page=${companyList.totalPages}-1,search=${param.search} ,subject=${param.subject})}" class="span1">마지막</a>
                                </span>
                            </li>

                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</th:block>
</html>



