<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/modal.js}"></script>
    <script th:src="@{/js/member/nameChange.js}"></script>
    <link rel="stylesheet" th:href="@{/css/member/modal.css}">
    <h1><span th:text="${memberDto.name}"></span>님 페이지</h1>
</head>

<body>
<ul>
    <li>
        <span>이름</span>
        <span th:text="${memberDto.name}"></span>
    </li>
    <li>
        <span>생년월일</span>
        <span th:text="${memberDto.birth}"></span>
    </li>
    <li>
        <span>이메일</span>
        <span th:text="${memberDto.email}"></span>
    </li>
    <li>
        <span>전화번호</span>
        <span th:text="${memberDto.phone}"></span>
    </li>
    <li>
        <span>성별</span>
        <span th:text="${memberDto.gender}"></span>
    </li>
    <li>
        <span>우편번호</span>
        <span th:text="${memberDto.postcode}"></span>
    </li>
    <li>
        <span>주소</span>
        <span th:text="${memberDto.address}"></span>
    </li>
    <li>
        <span>상세주소</span>
        <span th:text="${memberDto.detailAddress}"></span>
        <span th:text="${memberDto.extraAddress}"></span>
    </li>
    <li>
        <span>가입날짜</span>
        <span th:text="${memberDto.CreateTime}"></span>
    </li>
    <li>
        <a th:href="@{/member/freeUp/{memberId}(memberId=${memberDto.id})}">회원정보 수정</a>
    </li>
    <li>
        <a th:href="@{/member/disabled/{memberId}(memberId=${memberDto.id})}">비활성화</a>
    </li>
    <li>
        <a th:href="@{/member/pwChange/{memberId}(memberId=${memberDto.id})}">비밀번호 변경</a>
    </li>
    <li>
        <div class="disabledCon" id="disabledCon">
        </div>
    </li>
</ul>
<div id="disabledModal" class="modal">
    <div class="modal-window">

        <h2>회원 비활성화</h2>
        <span id="closeButton" class="close-area">X</span>
        <div class="content">

            <form th:href="@{/freelancer/disabled}" method="post">
                <input type="hidden" name="id" class="memberId" readonly th:value="${freeDto.id}">
                비활성화할 이메일이 <span th:text="${freeDto.email}"></span>가 맞는지 확인부탁드립니다.
                <input type="submit" value="회원비활성화">
            </form>
        </div>
    </div>
</div>
<div id="deleteCon" class="deleteCon">

</div>
<input type="hidden" id="is_display" th:value="${freeDto.is_display}">
<div id="modalCon" class="deleteModal">
    <div class="modal-window2">

        <h2>회원삭제</h2>
        <span id="closeBtn" class="close-area2">X</span>
        <div class="content2">

            <form th:href="@{/member/delete/{freeId}(freeId=${freeDto.id})}" method="post">
                <input type="hidden" name="id" class="freeId" readonly th:value="${freeDto.name}">
                삭제하실려는 이메일이 <span th:text="${freeDto.email}"></span>가 맞는지 확인부탁드립니다.
                <input type="submit" value="회원삭제">
            </form>
        </div>
    </div>
</div>
</body>
</html>