<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>프리랜서 목록</title>
    <!-- 프리랜서들만 보입니다.!!!!!!! -->
</head>
<body>

<script>
    let i = 0;
</script>

<!-- 관리자용 회원 관리 페이지 -->
<!-- 프리랜서들만 보입니다.!!!!!!! -->
<div class="container">
    <div class="container-con">
        <div class="memberList">
            <div class="memberList-con">

                <div class="memberList-header">
                    <h1>프리랜서 목록</h1>
                </div>

                <div class="search">
                    <div class="search-con">
                        <form action="@{/member/freeList}" method="get" class="search">
                            <select name="subject" id="subject">
                                <option value="name">이름</option>
                                <option value="email">이메일</option>
                            </select>
                            <input type="text" name="search" id="search" th:value="${param.search}">
                            <input type="submit" value="검색">
                        </form>
                    </div>
                </div>

                <div class="memberList-container">
                    <table>
                        <thead>
                        <tr class="th1">
                            <th colspan="8">등록회원목록</th>
                        </tr>
                        <tr class="th2">
                            <th>순번</th>
                            <th>이름</th>
                            <th>이메일</th>
                            <th>전화번호</th>
                            <th>메뉴</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="free, iterStat:${freeList}">
                            <th:block th:if="${free.grade.toString()} == 'FREELANCER'">
                                <th:block th:if="${free.is_display} == 1">
                                    <script>
                                        i++;
                                    </script>
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${free.name}"></td>
                                    <td th:text="${free.email}"></td>
                                    <td th:text="${free.phone}"></td>
                                    <td>
                                        <!--                                <a th:href="@{/member/delete/{id}(id=${member.id})}">삭제</a>-->
                                        <!--                                <a th:href="@{/member/update/{id}(id=${member.id})}">수정</a>-->
                                        <a th:href="@{/member/freeDetail/{memberId}(memberId=${free.id})}">상세보기</a>
                                    </td>
                                </th:block>
                            </th:block>
                        </tr>

                        </tbody>
                    </table>

                    <div class="paging">
                        <ul>
                            <li>
                                <!--페이징 보류  -->
                                <!--                                    <span th:if="${1==postList.pageable.pageNumber+1}"></span>-->
                                <!-- 현재페이지가 첫번째 페이지이면 span표시 -->
                                <span th:if="${1==freeList.pageable.pageNumber+1}" class="span0">START</span>
                                <!-- 처음 페이지가 아니면 처음(누를시 1페이지로) -->
                                <span th:unless="${1==freeList.pageable.pageNumber+1}">
                                    <a th:href="@{/member/freeList(page=0,search=${param.search} ,subject=${param.subject})}"
                                       class="span1">처음</a>
                                    </span>
                            </li>

                            <li>
                                <!-- 첫페이지 일때 -->
                                <span th:if="${1==freeList.pageable.pageNumber+1}" class="span0">Pre</span>
                                <span th:unless="${1==freeList.pageable.pageNumber+1}">
                                        <a th:href="@{/member/freeList(page=${freeList.pageable.pageNumber-1},search=${param.search} ,subject=${param.subject})}"
                                           class="span1">이전</a>
                                     </span>
                            </li>


                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${i == freeList.pageable.pageNumber+1}" th:text="${i}"
                                          class="now"></span>

                                <a th:unless="${i == freeList.pageable.pageNumber+1}"
                                   th:href="@{/member/freeList(page=${i - 1},search=${param.search} ,subject=${param.subject})}"
                                   th:text="${i}"></a>
                            </li>

                            <li>
                                <span th:if="${freeList.totalPages == freeList.pageable.pageNumber + 1}"
                                      class="span0">NEXT</span>

                                <span th:unless="${freeList.totalPages == freeList.pageable.pageNumber + 1}">
                            <a th:href="@{/member/freeList(page=${freeList.pageable.pageNumber + 1},search=${param.search} ,subject=${param.subject} )}"
                               class="span1">다음</a>
                        </span>
                            </li>


                            <li>
                                <span th:if="${freeList.totalPages == freeList.pageable.pageNumber + 1}"
                                      class="span0">END</span>

                                <span th:unless="${freeList.totalPages == freeList.pageable.pageNumber+1}">
                            <a th:href="@{/member/freeList(page=${freeList.totalPages}-1,search=${param.search} ,subject=${param.subject})}"
                               class="span1">마지막</a>
                        </span>
                            </li>

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



