<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="part" th:if="${msg.answer.busInfos != null}" th:fragment="busFragment">

  <div class="part" th:if="${msg.answer.busInfos != null}">
<!--    <p>-->
<!--      <br>-->
<!--      <span th:text="${msg.answer.busInfoList.busRouteNm}"></span><br>-->
<!--      <span th:text="${msg.answer.busInfoList.firstBusTm}"></span><br>-->
<!--      <span th:text="${msg.answer.busInfoList.lastLowTm}"></span><br>-->
<!--      <span th:text="${msg.answer.busInfoList.term}"></span><br>-->
<!--      <span th:text="${msg.answer.busInfoList.busRouteId}"></span><br>-->
<!--    </p>-->

    <table>
      <thead>
      <tr>
        <th>ㅇ</th>
        <th>ㅐ</th>
        <th>ㅐ</th>
        <th>ㅐ</th>
        <th>ㅐ</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bus:${msg.answer.busInfos}">
        <td th:text="${bus.busRouteNm}"></td>
        <td th:text="${bus.firstBusTm}"></td>
        <td th:text="${bus.lastLowTm}"></td>
        <td th:text="${bus.term}"></td>
        <td th:text="${bus.busRouteId}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="part" th:if="${msg.answer.busInfos == null}">
    <p>
      버스정보를 조회할 수 없습니다.
    </p>
  </div>
</div>
</html>