<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="part" th:if="${msg.answer.weatherInfo != null}" th:fragment="weatherFragment">
    <div class="part" th:if="${msg.answer.weatherInfo.city != null}">
        <p>
            <br>
            <span>지역: </span><span th:text="${msg.answer.weatherInfo.city}"></span><br>
            <span>최고온도: </span><span th:text="${msg.answer.weatherInfo.temp_max}"></span><br>
            <span>최저온도: </span><span th:text="${msg.answer.weatherInfo.temp_min}"></span><br>
        </p>
    </div>
    <div class="part" th:if="${msg.answer.weatherInfo.city == null}">
        <p>
            존재하지 않는 지역입니다.
        </p>
    </div>
</div>
</html>