<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="part" th:if="${msg.answer.weatherInfo != null}" th:fragment="weatherFragment">

  <div class="part" th:if="${msg.answer.weatherInfo.city != null}">
    <p>
      <br>
      <span th:text="${msg.answer.weatherInfo.city}"></span><br>
      <span th:text="${msg.answer.weatherInfo.country}"></span><br>
      <input type="hidden" id="lat" th:value="${msg.answer.weatherInfo.lat}">
      <input type="hidden" id="lon" th:value="${msg.answer.weatherInfo.lon}">
      <div id="map"></div>
      <span>최고기온: </span><span th:text="${msg.answer.weatherInfo.temp_max}"></span><br>
      <span>최저기온: </span><span th:text="${msg.answer.weatherInfo.temp_min}"></span>
    </p>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=95e2a555b3d507a2e61f27a2afd5fd0d&libraries=services,clusterer,drawing">
    </script>
    <script>
      $(document).ready(function () {
        var lat = $("#lat").val();
        var lon = $("#lon").val();
        map(lon, lat);

        function map(lon, lat) {
          /// 카카오 지도 API
          var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = { // 위도    경도
              center: new kakao.maps.LatLng(lat, lon), // 지도의 중심좌표
              level: 10 // 지도의 확대 레벨
            };

          var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
          // 마커가 표시될 위치입니다                  // 마커 위도   마커 경도
          var markerPosition = new kakao.maps.LatLng(lat, lon);
          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
            position: markerPosition
          });
          // 마커가 지도 위에 표시되도록 설정합니다
          marker.setMap(map);
          // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
          // marker.setMap(null);
        }

      });
    </script>
  </div>
  <div class="part" th:if="${msg.answer.weatherInfo.city == null}">
    <p>
      날씨정보를 조회할 수 없습니다.
    </p>
  </div>
</div>

</html>