<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>근태관리</title>
    <link rel="stylesheet" th:href="@{/css/workTime/commute.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- <script th:src="@{/js/workTime/commute.js}" defer></script> -->
</head>
<th:block layout:fragment="container">
<body>
<div class="content">
    <div class="content-header">
        <h2>근태관리</h2>
    </div>
    <div class="content-main">
        <div class="left">
            <!-- <form th:action="@{/work/workin/{memberId}(memberId=${#authentication.principal.memberEntity.id})}" method="post"> -->
                <button id="workInBtn">
                    <input type="submit" name="workIn" value="workIn">
                </button>
            <!-- </form> -->
        </div>
        <div class="right">
            <form th:action="@{/work/workout/{memberId}(memberId=${#authentication.principal.memberEntity.id})}" method="post">
                <button>
                    <input type="submit" name="workOut" value="workOut">
                </button>
            </form>
        </div>
    </div>
</div>
</body>

    <script>
        var workInButton = document.querySelector('#workInBtn');
        workInButton.addEventListener("click", function () {
            $.ajax({
                url: "/work/workin/"+1,
                method: "POST",
                 // 이렇게 데이터를 전달합니다.
                async: false,
            }).done(function (data) {
                console.log(data.result);
                if (data.result == 0) {
                    alert("이미 출근 했습니다")
                } else {
                    alert("출근 되었습니다.")
                }
            }).fail(function (xhr, status, errorThrown) {
                console.log("에러");
            });
        });

    </script>
</th:block>

</html>