<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <script th:src="@{/js/board/calendar.js}" defer></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/board/calendar.css}">
</head>
<body>

<th:block layout:fragment="container">
    <div class="container">
        <div class="calendar">
            <main>
                <div id="fill">
                    <div class="img">
                    </div>
                    <div id='calendar-container'>
                        <div id='calendar'></div>
                    </div>
                </div>

                <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"   aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">일정을 입력하세요.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="calendar_content" class="col-form-label">일정 내용</label>
                                    <input type="text" class="form-control" id="calendar_content" name="content">
                                    <label for="calendar_start_date" class="col-form-label">시작 날짜</label>
                                    <input type="datetime-local" class="form-control" id="calendar_start_date" name="start">
                                    <label for="calendar_end_date" class="col-form-label">종료 날짜</label>
                                    <input type="datetime-local" class="form-control" id="calendar_end_date" name="end">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" id="addBtn">추가</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="sprintSettingModalClose">취소
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</th:block>
</body>
</html>