<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">

<head>
    <meta charset="UTF-8">
    <title>직원회원가입</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/member/join_check.js}"></script>
    <script th:src="@{/js/member/join.js}"></script>
    <script th:src="@{/js/member/address.js}"></script>
    <script th:src="@{/js/member/emailCheck.js}"></script>
    <link rel="stylesheet" th:href="@{/css/member/join.css}">
    <link rel="stylesheet" th:href="@{/css/member/joinCheck.css}">
</head>
<body>


    <form th:action="@{/member/adminJoin}" id="adminJoinForm" method="post" class="pretty-form">
        <div class="form-group">
            <label for="mail">이메일:</label>
            <input type="text" id="mail" name="email" oninput="email_check()" class="form-control">
            <div class="feedback">
                <span class="member_ok">사용 가능한 이메일입니다.</span>
                <span class="member_already">이미 사용중인 이메일 입니다.</span>
                <span class="email_expression">올바른 이메일을 작성해주세요.</span>
            </div>
            <button type="button" id="emailCheck" onclick="emailSend2()" class="btn btn-primary">인증번호 받기</button>
            <input type="text" id="certificationNumber" class="form-control">
            <button type="button" id="certificationBtn" onclick="emailCertification()" class="btn btn-primary">이메일인증확인
            </button>
        </div>

        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" oninput="checkPws()" class="form-control">
            <!--<i class="fa-eye" onclick="fa_eye()">보기</i>-->
            <div class="feedback">
                <span class="pw_string">숫자와 영문자, 특수문자 조합으로 8~16자리를 사용해야 합니다.</span>
                <span class="pw_length">숫자와 영문자, 특수문자를 혼용하여야 합니다.</span>
                <span class="pw_true">같은 문자를 3번 이상 사용하실 수 없습니다.</span>
                <span class="pw_email">비밀번호에 이메일이 포함되었습니다.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="checkPw">비밀번호확인:</label>
            <input type="password" id="checkPw" name "checkPw" oninput="check_pw()" class="form-control">
            <div class="feedback">
                <span class="password_already">비밀번호가 일치하지 않습니다.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">전화번호:</label>
            <input type="text" id="phone" name="phone" oninput="phoneCheck()" class="form-control">
            <div class="feedback">
                <span class="phone_expression">올바른 전화번호을 작성해주세요.</span>
                <span class="phone_ok">사용 가능한 전화번호입니다.</span>
                <span class="phone_already">이미 가입된 전화번호입니다.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="birth">출생년도를 선택하세요:</label>
            <input type="date" id="birth" name="birth" class="form-control" min="1900-01-01" value="2000-01-01">
        </div>

        <div class="form-group">
            <div class="genderList">
                <span>성별</span>
                <input type="radio" id="male" name="gender" class="male" value="M" checked="checked">
                <label for="male">남성</label>
                <input type="radio" id="female" name="gender" class="female" value="F">
                <label for="female">여성</label>
            </div>
        </div>

        <div class="form-group">
            <label for="postcode">주소:</label>
            <input type="text" id="postcode" name="postcode" class="form-control" placeholder="우편번호">
            <button type="button" onclick="sample6_execDaumPostcode()" class="btn btn-secondary">우편번호 찾기</button>
            <input type="text" id="address" name="address" class="form-control" placeholder="주소">
            <input type="text" id="detailAddress" name="detailAddress" class="form-control" placeholder="상세주소">
            <input type="text" id="extraAddress" name="extraAddress" class="form-control" placeholder="참고항목">
        </div>

        <input type="hidden" name="is_display" value="1">
        <button type="submit" class="btn btn-success">회원가입</button>
    </form>


</body>

</html>