<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
</head>
<body>
<!-- 관리자용 회원 관리 페이지 -->
<div class="container">
    <div class="container-con">
        <div class="memberList">
            <div class="memberList-con">

                <div class="memberList-header">
                    <h1>회원조회</h1>
                </div>

                <div class="search">
                    <div class="search-con">
                        <form action="@{member/search}" method="get" class="search">
                            <select name="subject" id="subject">
                                <option value="name">이름</option>
                                <option value="email">이메일</option>
                                <option value="phone">전화번호</option>
                            </select>
                            <input type="text" name="search" id="search" th:value="${param.search}">
                            <input type="submit" value="검색">
                        </form>
                    </div>
                </div>

                <div class="memberList-container">
                    <table>
                        <thead>
                        <tr class="th1">
                            <th colspan="8">등록회원목록</th>
                        </tr>
                        <tr class="th2">
                            <th>아이디</th>
                            <th>이메일</th>
                            <th>이름</th>
                            <th>닉네임</th>
                            <th>전화번호</th>
                            <th>등급</th>
                            <th>생성,수정일</th>
                            <th>메뉴</th>
                        </tr>
                        </thead>
                        <tbody>

                        <li sec:authorize="hasAnyRole('ADMIN')">
                            <tr th:each="member:${memberList}">
                                <th:block th:unless="${member.grade.toString()} == 'COMPANY'">
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.email}"></td>
                                <td th:text="${member.name}"></td>
                                <td th:text="${member.nickName}"></td>
                                <td th:text="${member.phone}"></td>
                                <td th:text="${member.grade}"></td>
                                <td th:if="${member.createTime} == null"
                                    th:text="${#temporals.format(member.updateTime,'yyyy-MM-dd HH:mm')}"></td>
                                <td th:unless="${member.createTime} == null"
                                    th:text="${#temporals.format(member.createTime,'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <!--                                <a th:href="@{/member/delete/{id}(id=${member.id})}">삭제</a>-->
                                    <!--                                <a th:href="@{/member/update/{id}(id=${member.id})}">수정</a>-->
                                    <a th:href="@{/member/detail/{memberId}(memberId=${#authentication.principal.memberEntity.id})}">상세보기</a>
                                </td>
                                </th:block>
                            </tr>
                        </li>


                        <!-- 다른 직원들이
                             프리랜서들을 확인 할 수 있게 해야하는데
                             아직 권한을 매니저, 프리랜서 2개만 만들어 놔서
                             프리렌서들이 프리렌서들 확인할 수 있게 해놓음-->
                        <li sec:authorize="hasAnyRole('COMPANY')">
                            <tr th:each="member:${memberList}">
                                <th:block th:if="${member.grade.toString()} == 'COMPANY'">
                                    <td th:text="${member.id}"></td>
                                    <td th:text="${member.email}"></td>
                                    <td th:text="${member.name}"></td>
                                    <td th:text="${member.nickName}"></td>
                                    <td th:text="${member.phone}"></td>
                                    <td th:text="${member.grade}"></td>
                                    <td th:if="${member.createTime} == null"
                                        th:text="${#temporals.format(member.updateTime,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:unless="${member.createTime} == null"
                                        th:text="${#temporals.format(member.createTime,'yyyy-MM-dd HH:mm')}"></td>
                                    <td>
                                        <!--                                <a th:href="@{/member/delete/{id}(id=${member.id})}">삭제</a>-->
                                        <!--                                <a th:href="@{/member/update/{id}(id=${member.id})}">수정</a>-->
                                        <a th:href="@{/member/detail/{memberId}(memberId=${#authentication.principal.memberEntity.id})}">상세보기</a>
                                    </td>
                                </th:block>
                            </tr>
                        </li>
                        </tbody>
                    </table>

                    <div class="paging">
                        <ul>
                            <li>
                                <!--페이징 보류  -->
                                <!--                                    <span th:if="${1==postList.pageable.pageNumber+1}"></span>-->
                                <!-- 현재페이지가 첫번째 페이지이면 span표시 -->
                                <span th:if="${1==memberList.pageable.pageNumber+1}" class="span0">START</span>
                                <!-- 처음 페이지가 아니면 처음(누를시 1페이지로) -->
                                <span th:unless="${1==memberList.pageable.pageNumber+1}">
                                    <a th:href="@{/member/memberList(page=0,search=${param.search} ,subject=${param.subject})}"
                                       class="span1">처음</a>
                                    </span>
                            </li>

                            <li>
                                <!-- 첫페이지 일때 -->
                                <span th:if="${1==memberList.pageable.pageNumber+1}" class="span0">Pre</span>
                                <span th:unless="${1==memberList.pageable.pageNumber+1}">
                                        <a th:href="@{/member/memberList(page=${memberList.pageable.pageNumber-1},search=${param.search} ,subject=${param.subject})}"
                                           class="span1">이전</a>
                                     </span>
                            </li>


                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${i == memberList.pageable.pageNumber+1}" th:text="${i}"
                                          class="now"></span>

                                <a th:unless="${i == memberList.pageable.pageNumber+1}"
                                   th:href="@{/member/memberList(page=${i - 1},search=${param.search} ,subject=${param.subject})}"
                                   th:text="${i}"></a>
                            </li>

                            <li>
                                <span th:if="${memberList.totalPages == memberList.pageable.pageNumber + 1}"
                                      class="span0">NEXT</span>

                                <span th:unless="${memberList.totalPages == memberList.pageable.pageNumber + 1}">
                            <a th:href="@{/member/memberList(page=${memberList.pageable.pageNumber + 1},search=${param.search} ,subject=${param.subject} )}"
                               class="span1">다음</a>
                        </span>
                            </li>


                            <li>
                                <span th:if="${memberList.totalPages == memberList.pageable.pageNumber + 1}"
                                      class="span0">END</span>

                                <span th:unless="${memberList.totalPages == memberList.pageable.pageNumber+1}">
                            <a th:href="@{/member/memberList(page=${memberList.totalPages}-1,search=${param.search} ,subject=${param.subject})}"
                               class="span1">마지막</a>
                        </span>
                            </li>

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



