<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>영화API</title>
    <link rel="stylesheet" th:href="@{/css/movie/movie.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/movie/movie.js}" defer></script>
</head>
<th:block layout:fragment="container">
    <div class="section">
        <div class="title">
            <h1>어제의 Top 10</h1>
        </div>
        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>순위</th>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list:${movieList}">
                    <td th:text="${list.rank}"></td>
                    <td th:text="${list.movieNm}" class="movieName" th:value="${list.movieCd}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="btn">
                <span class="red">
                    <a th:href="@{/movie/list}" class="btn-close">✕</a>
                </span>
                <span class="yellow">
                    <a th:href="@{/movie/list}">⎻</a>
                </span>
                <span class="green">
                    <a th:href="@{/movie/list}">◦</a>
                </span>
            </div>
            <div class="modal-header">
                <div class="name">

                </div>
                <h1>의 정보✨</h1>
            </div>
            <div class="modal-main">
                <table>
                    <thead>
                    <tr>
                        <th>순위</th>
                        <th>제목</th>
                        <th>개봉일자</th>
                        <th>누적관객수</th>
                        <th>영화코드</th>
                    </tr>
                    </thead>
                    <tbody class="modal-table">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="close">
                    <a th:href="@{/movie/list}" class="btn-close">닫기</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>