<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>chatbot</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=95e2a555b3d507a2e61f27a2afd5fd0d&autoload=false,libraries=services,clusterer,drawing" defer></script>
    <link rel="stylesheet" th:href="@{/css/chatbot/bot-message.css}">

</head>
<body>

    <div class="chat-date" th:if="${msg.today}" th:text="${msg.today}"></div>
    <div class="bot-message">
        <div  class="icon">
            <img th:src="@{/images/chatbot/chatbot_icon.png}">
        </div>
        <div class="message">
            <div class="part" th:if="${msg.answer.keyword ne '프리랜서' or msg.answer.keyword ne '회사' or  msg.answer.info or msg.answer.weatherInfo != null}">
                <p th:utext="${msg.answer.content}"></p>
            </div>
            <div th:if="${msg.answer.keyword eq '프리랜서'}" >
                <div th:replace="~{chatbot/fragments/freelancer :: freelancerFragment}"></div>
            </div>
            <div th:if="${msg.answer.keyword eq '회사'}" >
                <div th:replace="~{chatbot/fragments/company :: companyFragment}"></div>
            </div>
            <div th:if="${msg.answer.keyword eq '날씨'}">
                <div th:replace="~{chatbot/fragments/weather :: weatherFragment}"></div>
            </div>
            <div th:if="${msg.answer.keyword eq '영화'}">
                <div th:replace="~{chatbot/fragments/movie :: movieFragment}"></div>
            </div>

            <div class="time" th:text="${msg.time}">메세지 작성 시간</div>
        </div>
    </div>


</body>
</html>