<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout/baseLayout}">

<head>
    <meta charset="UTF-8">
    <title>조직도</title>
    <link rel="stylesheet" th:href="@{/css/orgUnit/orgUnit.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/workTime/commute.js}" defer="defer"></script>
</head>
<th:block layout:fragment="container">
<body>
    <div class="container-con">
        <div class="container-header">
            <h1>조직도</h1>
        </div>
        <div class="btn">
            <button id="getUnit" class="unit">조직도 연동</button>
            <button id="newToken" class="token">새로운 토큰 발급</button>
            <button id="reToken" class="date">토큰 유효 기간 연장</button>
        </div>
        
        <div id="unitList" class="list">
    <!--        span -> 네이버에서 가져온 값-->
            <ul id="parent">
                
            </ul>
        </div>
    </div>




    <script>
        let getUnit = document.getElementById("getUnit");
        let unitList = document.getElementById("unitList");

        getUnit.addEventListener("click", function () {

            // naver token을 발급받기 위한 code를 return url로 받고 return은 /naver/token으로 지정해 다시 우리쪽 컨트롤러가 받아서 db에 저장

            $.ajax({
                url: "/naver/code",
                method: "GET",
                async: false,
            }).done(function (data) {

                    console.log(data.return);

                    document.write(data.return);

            }).fail(function (xhr, status, errorThrown) {
                console.log("에러");
            });
        })

        $.ajax({
                url: "/naver/orgunit",
                method: "GET",
                async: false,
            }).done(function (data) {
                $.each(data.orgUnits, function (index, element) {
                    console.log(data.orgUnits);

                    if (element.orgUnitName != null) {
                        // var span = document.createElement("span"); // <span> 요소 생성
                        // span.className = "orgUnitName"; // 클래스 추가
                        // span.innerHTML = element.orgUnitName; // 내용 추가
                        // unitList.appendChild(span);

                        list = "<ul>";
                        list += "<li>" + element.orgUnitName + "</li>";
                        list += "</ul>";
                        $('#parent').append(list);

<!--                        if(element.parentExternalKey == null){-->
<!--                            list = "<ul>";-->
<!--                            list += "<li>" + element.orgUnitName + "</li>";-->
<!--                            list += "</ul>";-->
<!--                            $('#parent').append(list);-->
<!--                        }else{-->
<!--                            list += "<div>";-->
<!--                            list += "<ul>";-->
<!--                            list += "<li>" + element.orgUnitName + "</li>";-->
<!--                            list += "</li>";-->
<!--                            list += "</div>";-->
<!--                            $('#parent').append(list);-->
<!--                        }-->

                    }
                })
            }).fail(function (xhr, status, errorThrown) {
                alert("조직도를 가져오지 못했습니다 다시 연동하거나 관리자에게 문의 바랍니다.")
            });
    </script>
</body>
</th:block>

</html>