@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/sidebar.css);


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

h1.title{
    padding: 30px;
    box-sizing: border-box;
}

/* 나머지 CSS 코드는 그대로 유지 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

/* table */
table, th, td{
    border-collapse: collapse;
    border: 1px solid #9e9e9e;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 10px;
}
.left .notice table{
    width: 100%;
}
.left .notice table thead tr th{
    border-top: 2px solid #152161;
    font-size: 17px;
    padding: 10px;
}
.left .notice table tbody tr td{
    padding: 10px 0;
}