@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/sidebar.css);

body{
    background-color: #fff;
}

.container{
    width: 100%;
}

.list{
    width: 100%;
    display: flex;
}

.list .list-con{
    flex-basis: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 30px;
    box-sizing: border-box;
}

.list .list-con .title{
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.list .list-con .title h1{
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
}

.list .list-con .title h2{
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* search */
.list .list-con .search{
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}


.list .list-con .search select{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.list .list-con .search .input1{
    width: 300px;

    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.list .list-con .search .input2{
    width: 100px;

    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
}

.list .list-con .search .searchHistory{
    padding: 5px;
    box-sizing: border-box;
}

.list .list-con .search .searchHistory ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.list .list-con .search .searchHistory ul li a{
    font-size: 18px;
    color: #656781;
}

.list .list-con .search .searchHistory ul li a:hover{
    color: #454863;
}

.list .list-con .write{
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    box-sizing: border-box;
}

.list .list-con .write a{
    background-color: #454863;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.list .list-con .write a:hover{
    background-color: #656781;
    text-decoration: underline;
}

/* table */
table {
    width: 100%;
    height: auto;
    border: 1px #fff solid;
    font-size: .9em;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

th {
    text-align: center;
    color: #222;
    border-bottom: 2px solid #222;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;

}

td {
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.th1{
    width: 10%;
}

.th2{
    width: 50%;
}

.th3{
    width: 10%;
}

.th4{
    width: 20%;
}

.th5{
    width: 10%;
}

td{
    text-align: center;
}

td.td-title{
    text-align: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}


/* paging */
.paging{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
}

.paging img{
    width: 100%;
    border: 0;
    padding: 3px;
}

.paging >ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.paging >ul >li a{
    background-color: #fff;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    width: 30px;
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}



.paging >ul >li .span0{
    background-color: #f8f8f8;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    width: 30px;
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

.paging >ul >li .now{
    background-color: #fff;
    color: #222;
   
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    width: 30px;
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    position:relative;
    cursor:pointer;
}

.paging >ul >li a:hover{
    box-sizing: border-box;
}

.paging >ul >li .now::after{
    content: "현재페이지";
    font-size: 12px;
    width: 150px;
    color: #8a8e99;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    visibility: hidden;
    font-family: 'Kanit', sans-serif;
}

.paging >ul >li .now:hover::after{
    visibility: visible;
}