.pw_not{
    color:#ed0909;
    display: none;
}
.pw_string{
    color:#008000;
    display: none;
}
.pw_string1{
    color:#0063e3;
    display: none;
}
.pw_right{
    color:#0063e3;
    display: none;
}