/*@import "/css/common/reset.css";*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #007BFF;
    height: 450px;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.forText {
    width: 250px;
}

.forTextLabel {
    font-weight: bold;
    margin-bottom: 5px;
}

.forText input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
.btn{
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.in{
    margin-top: 30px;
}
.in1{
    margin-top: 20px;
}

#emailText, #certificationNumber, #certificationNumber1 {
    width: 200px;
}