.member_ok{
color:#008000;
display: none;
}

.member_already{
color:#6A82FB;
display: none;
}
.email_expression{
color:#6A82FB;
display: none;
}
.pw_string{
color:#6A82FB;
display: none;
}
.pw_length{
color:#6A82FB;
display: none;
}
.pw_true{
color:#6A82FB;
display: none;
}
.pw_email{
color:#6A82FB;
display: none;
}
.password_already{
color:#ed0909;
display: none;
}
.nick_ok{
color:#008000;
display: none;
}

.nick_already{
color:#6A82FB;
display: none;
}
.phone_ok{
color:#008000;
display: none;
}
.phone_already{
color:#6A82FB;
display: none;
}
