@import "/css/common/reset.css";

.container{
    width: 100%;
}

.login{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
}

.login .login-con{
    height: 50vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.login .login-con .login-form{
    flex-basis: 400px;
    height: 400px;
    box-sizing: border-box;
    align-items: center;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #007BFF;
}

.login .login-con .login-form h1{
    box-sizing: border-box;
    width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    align-items: center;
    padding: 30px 30px 0 30px;
}

.login .login-con .login-form div{
    height: 30px;
}

.login .login-con .login-form form ul{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

.login .login-con .login-form form ul>li{
    padding: 4px 0 0 0;
}

.login .login-con .login-form form ul>li:nth-child(1) input{
    border: 1px solid #cccccc;

    background-color: white;
    color : black;
}
.login .login-con .login-form form ul>li:nth-child(2) input{
    border: 1px solid #cccccc;

    background-color: white;
    color : black;
}

.login .login-con .login-form form ul>li:nth-child(5){
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.login .login-con .login-form form ul>li:nth-child(5)>a:nth-child(2){
    padding: 2px 0 0 0;
}

.login .login-con .login-form form ul>li:nth-child(5)>a:nth-child(3){
    padding: 2px 0 0 0;
}

.login .login-con .login-form form ul>li>input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px 0;
    background-color: purple;
    color: white;
    border: 0;
    cursor:pointer;
}

.login .login-con .login-form form ul>li>button{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    color: purple;
    border: 1px solid purple;
    font-weight: bold;
    cursor:pointer;
}

.login .login-con .login-form form ul>li:nth-child(3){
    padding: 30px 0 0 0;
}

.oauth-login {
    display: flex;
    justify-content: space-between;
}

.oauth-login>a:nth-child(1){
    width: 128px;
    height: 35px;
}
.oauth-login>a:nth-child(2){
    width: 101px;
    height: 35px;
}
.oauth-login>a:nth-child(3){
    width: 101px;
    height: 35px;
}

.oauth-login > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



li .gender-label {
    display: flex;
    align-items: center;
}

li .gender-label input[type="radio"] {
    margin-right: 10px;
}

